{% extends "home/base.html" %}
{% load static %}

{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
<link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
<link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
<link href="{% static 'home/css/modal.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/jquery.powertip.css' %}" />

{% endblock %}


{% block content %}
<title>Structure Blast</title>
<style>
    label {
        font-weight: bold;
        margin-right: 10px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: white;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
        font-size: 2em;
        letter-spacing: -0.05em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        margin: 0 auto;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 20px;
        padding-bottom: 2rem;
    }

    .section {
        flex: 1;
        min-width: 200px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .section label {
        font-weight: bold;
        color: #555;
        display: block;
        margin-bottom: 10px;
    }

    .section .row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .section .row input {
        margin-right: 10px;
    }

    .section .row label {
        margin: 0;
    }

    input[type="file"] {
        display: block;
        margin-bottom: 20px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3;
    }

    .file-upload-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: #f9f9f9;
        color: #333;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -100px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

<h1>Structure BLAST uses Foldseek 
    <a href="https://www.nature.com/articles/s41587-023-01773-0#citeas"> (Ref) </a> 
    to query a pdb file to get a list 
    <a href="structure">structures</a>/<a href="structure/homology_models">models</a> 
    with the highest structural similarity. 
    <br> GPCRdb provides  <a href="structure">structures</a> and <a href="structure/homology_models">models</a>  
</h1>

<form id="blastForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex-container">
        <div class="file-upload-section">
            <label for="input_pdb">Upload a pdb file (query):
                <input type="file" id="input_pdb" name="input_file" required>
            </label>
            <div>
                <input type="hidden" name="tm7_h8" value="False">
                <input type="checkbox" id="tm7_h8" name="tm7_h8" value="True">
                <label for="tm7_h8">By 7TM and H8</label>
            </div>
        </div>

        <div class="section">
            <label>Select a method:</label>
            <div class="row">
                <input type="radio" id="3d_align" name="alignment_method" value="3Di-align" required>
                <label for="3d_align">3Di-align (fastest)</label>
            </div>
            <div class="row">
                <input type="radio" id="3d_plus_align" name="alignment_method" value="3Di+-align" required checked>
                <label for="3d_plus_align">3Di+AA-align (fast)</label>
            </div>
            <div class="row">
                <input type="radio" id="tm_align" name="alignment_method" value="TM-align" required>
                <label for="tm_align">TM-align (slow)</label>
            </div>
        </div>

        <div class="section">
            <label>Choose database(s):</label>
            <div class="row">
                <input type="checkbox" name="structure_type" id="alphafold" value="alphafold">
                <label for="alphafold">Alphafold models</label>
            </div>
            <div class="row">
                <input type="checkbox" name="structure_type" id="refined" value="refined">
                <label for="refined">Refined experimental structures</label>
            </div>
            <div class="row">
                <input type="checkbox" name="structure_type" id="experimental" value="experimental" checked>
                <label for="experimental">Raw experimental structures</label>
            </div>
        </div>
    </div>

    <button type="submit">Submit</button>
</form>

<div id="results">
    <table id="results_table" class="display" style="display: none;">
        <thead>
            <tr>
                <th></th>  <!-- For Icon -->
                <th>Uniprot</th>
                <th>IUPHAR</th>
                <th>Target Chain</th>
                <th>Input Chain</th>
                <th>State</th>
                <th>Class</th>
                <th>Family</th>
                <th>Species</th>
                <th>Type</th>
                <th>TM Score</th>
                <th>LDDT Score</th>
                <th>E-value</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
        var table = $('#results_table').DataTable({
            "order": [
                [10, "desc"],
                [11, "asc"],
                [12, "asc"]
            ],
            "pageLength": 20,
            'lengthChange': false,
            "columnDefs": [{
                "className": "text-left",
                "targets": [9, 10]
            }]
        });

        yadcf.init(table, [
            { column_number: 1, filter_type: "multi_select", select_type: "select2" },
            { column_number: 2, filter_type: "multi_select", select_type: "select2" },
            { column_number: 3, filter_type: "multi_select", select_type: "select2" },
            { column_number: 4, filter_type: "multi_select", select_type: "select2", filter_match_mode: "exact" },
            { column_number: 5, filter_type: "multi_select", select_type: "select2" },
            { column_number: 6, filter_type: "multi_select", select_type: "select2" },
            { column_number: 7, filter_type: "multi_select", select_type: "select2" },
            { column_number: 8, filter_type: "multi_select", select_type: "select2" },
            { column_number: 9, filter_type: "range_number" },
            { column_number: 10, filter_type: "range_number" },
            { column_number: 11, filter_type: "range_number" }
        ]);

        $('#blastForm').on('submit', function(e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: "{% url 'get_result' %}", // Replace with your post URL
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.task_id) {
                        checkTaskStatus(response.task_id);
                    } else {
                        alert("Error: " + response.error);
                    }
                },
                error: function(xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        });

        function checkTaskStatus(task_id) {
            $.ajax({
                url: "{% url 'get_result' %}?task_id=" + task_id, 
                type: "GET",
                success: function(response) {
                    if (response.state === 'PENDING') {
                        setTimeout(function() {
                            checkTaskStatus(task_id);
                        }, 2000);
                    } else if (response.state === 'COMPLETED') {
                        populateResultsTable(response.result);
                    } else {
                        alert("Task failed: " + response.status);
                    }
                },
                error: function(xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        }

        function populateResultsTable(data) {
            table.clear().draw();
            $('#results_table').show();
            data.forEach(function(row) {
                table.row.add([
                    '<a href="' + row.link + '" target="_blank"><img width="14px" height="20px" class="model-link" src="/static/home/images/model-surface.png"></a>',
                    '<a href="">' + row.uniprot + '</a>',
                    '<a href="">' + row.gtopdb + '</a>',
                    row.chain,
                    row.input_chain,
                    row.state,
                    row.clas,
                    row.rec_fam,
                    row.species,
                    row.type,
                    row.TM_score,
                    row.lddt,
                    row.E_value
                ]).draw();
            });
        }
    });
</script>
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
<script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"> </script>
<script src="{% static 'home/js/select2.js' %}"> </script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/alignment.js' %}"> </script>
<script src="{% static 'home/js/browser_functions.js' %}"> </script>
<script src="{% static 'home/js/structure_browser.js' %}"> </script> <!-- Structure browser -->
<script src="{% static 'home/js/jquery.powertip.js' %}"></script>
<script src="{% static 'home/js/xlsx.full.min.js' %}"></script>  
{% endblock %}